! Orignal from Alex Booker github.com/alexbooker
! Modified by Kristian Theilgaard github.com/theilgaard
Xcursor.theme: DMZ-White

URxvt.font:                xft:Hack-Regular:pixelsize=12
URxvt.boldFont:            xft:Hack-Bold:pixelsize=12
URxvt.italicFont:          xft:Hack-Italic:pixelsize=12
URxvt.boldItalicFont:      xft:Hack-BoldItalic:pixelsize=12
URxvt.letterSpace:         -1

URxvt*color0:              #101218
URxvt*color1:              #ee829f
URxvt*color2:              #a5ffe1
URxvt*color3:              #ffefcc
URxvt*color4:              #97bbf7
URxvt*color5:              #c0b7f9
URxvt*color6:              #97e0ff
URxvt*color7:              #d1d4e0
URxvt*color8:              #7780a1
URxvt*color9:              #ee829f
URxvt*color10:             #a5ffe1
URxvt*color11:             #ffefcc
URxvt*color12:             #97bbf7
URxvt*color13:             #c0b7f9
URxvt*color14:             #97e0ff
URxvt*color15:             #ffffff
URxvt*color16:             #f99170
URxvt*color17:             #fcc09e
URxvt*color18:             #1f222d
URxvt*color19:             #252936
URxvt*color20:             #C0C5CE
URxvt*color21:             #C9CCDB
URxvt*cursorColor:         #E6EFF7
URxvt*foreground:         #E6EFF7
! Transparency
URxvt*depth: 32
URxvt*background: rgba:0000/0000/0000/DE00

URxvt.internalBorder:      0
URxvt.externalBorder:      0

URxvt.scrollBar:           false

URxvt*fading:              30

URxvt.perl-ext-common:     default,clipboard, matcher,resize-font,foo

URxvt.keysym.F11:          perl:fullscreen:switch

URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger:  C-Up

URxvt.url-launcher:        /usr/bin/chromium
URxvt.keysym.M-Delete:     perl:matcher:list
URxvt.colorUL:             #7780a1


! Copy pasting
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False
