URxvt*inheritPixmap: true
URxvt*.transparent: true
! URxvt*.shading: 0 to 99 darkens, 101 to 200 lightens
URxvt*.shading: 18 

URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.transparent:          false
URxvt.fading:               0
! URxvt.urgentOnBell:         true
! URxvt.visualBell:           true
URxvt.loginShell:           true
URxvt.saveLines:            50
URxvt.internalBorder:       3
URxvt.lineSpace:            0

! Fonts
URxvt.font:           xft:Hack-Regular:pixelsize=12
URxvt.imFont:         xft:Hack-Regular:pixelsize=12
URxvt.boldFont:       xft:Hack-Bold:pixelsize=12
URxvt.italicFont:     xft:Hack-Italic:pixelsize=12
URxvt.boldItalicFont: xft:Hack-BoldItalic:pixelsize=12


! Fix font space
URxvt*letterSpace: -1

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Perl extensions
URxvt.perl-ext-common:      default,matcher
URxvt.matcher.button:       1
URxvt.urlLauncher:          chromium 

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorColor:          #354b53
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         true

!!Source http://github.com/altercation/solarized
! Theme: Solarized by Ethan Schoonover (http://ethanschoonover.com/solarized)

URxvt*background:                     #002b36
URxvt*foreground:                     #93a1a1
URxvt*cursorColor:                    #93a1a1
URxvt*scrollColor:                    #93a1a1
URxvt*highlightColor:                 #586e75
URxvt*highlightTextColor:             #839496

URxvt*color0:                         #002b36
URxvt*color1:                         #dc322f
URxvt*color2:                         #859900
URxvt*color3:                         #b58900
URxvt*color4:                         #268bd2
URxvt*color5:                         #6c71c4
URxvt*color6:                         #2aa198
URxvt*color7:                         #93a1a1
URxvt*color8:                         #657b83
URxvt*color9:                         #dc322f
URxvt*color10:                        #859900
URxvt*color11:                        #b58900
URxvt*color12:                        #268bd2
URxvt*color13:                        #6c71c4
URxvt*color14:                        #2aa198
URxvt*color15:                        #fdf6e3

URxvt*color16:                        #cb4b16
URxvt*color17:                        #d33682
URxvt*color18:                        #073642
URxvt*color19:                        #586e75
URxvt*color20:                        #839496
URxvt*color21:                        #eee8d5

